{% extends 'templates/app.twig' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path_for('dashboard') }}">Haulage Management System</a>
  </nav>
  <div class="container text-center my-4">
    <h1 class="not-found-message">404</h1>
    <h2>Sorry, This Page Was Not Found</h2>
    <p class="text-muted">Either something went wrong or the page doesn't exist anymore</p>
    <a class="btn btn-primary btn-lg my-4 text-white" href="{{ path_for('dashboard') }}">Home Page</a>
    <br/>
    <i class="fa fa-fw fa-truck fa-4x anim-truck"></i>
    <div class="floor"></div>
    <div class="wall"></div>
  </div>
{% endblock %}
