{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
  <div class="container">
  </div>
  {% include 'templates/partials/footer.twig' %}
{% endblock %}
