{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ path_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
      <div class="jumbotron">
        <h1 class="display-5">Welcome, {{ auth.user.name | split(' ')[0] }}!</h1>
        <p class="lead">This system is designed to keep record of registered hauliers and their journeys. Please note that this software is still in development, therefore you may experience some issues or unexpected behaviour, if you encounter any of these issues please report them using the feedback link below.</p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
          <a class="btn btn-primary" href="{{ path_for('feedback') }}" role="button">Feedback</a>
          <a class="btn btn-primary mx-3" href="#" role="button">Changelog</a>
        </p>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mb-3 journeys-chart-card">
            <div class="card-header">
              <i class="fa fa-area-chart mx-2"></i>Daily Logged Journeys (Past Week)
            </div>
            <div class="card-body">
              <canvas id="journeysChart" height="50"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
