{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <h2>Hauliers</h2>
    </div>
  </div>
{% endblock %}
