{% extends 'templates/app.twig' %}
{% block content %}
  {% include 'templates/partials/nav.twig' %}
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path_for('dashboard') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Admin Tools</li>
          <li class="breadcrumb-item active">Register a New User</li>
        </ol>
      </div>
    </div>
{% endblock %}
