<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="{{ base_url('') }}/"/>
  <title>Haulage Management System</title>
  <!-- Bootstrap core CSS-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type"text/css">
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/haulage-management.min.css" rel="stylesheet" type="text/css">
  <!-- Bootstrap core JavaScript-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="js/jquery.easing.min.js"></script>
</head>

<body>
  <div class="container text-center mt-5">
    <i class="fa fa-5x fa-truck" style="color: #0069d9;"></i>
  </div>
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center text-muted">Haulage Management System</div>
      <div class="card-body">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user text-muted"></i></span>
            </div>
            <input id="username" type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock text-muted"></i></span>
            </div>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <a class="btn btn-primary btn-block text-white">Login</a>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
