<!DOCTYPE html>

<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Rhys Evans">
  <!-- All external assets -->
  <base href="{{ base_url('')}}/"/>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <!-- Bootstrap core CSS-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type"text/css">
  <!-- Font Awesome CSS -->
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Datatables -->
  <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link href="css/haulage-management.min.css" rel="stylesheet" type="text/css">
  <!-- Jquery core JavaScript-->
  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="js/bootstrap.bundle.min.js"></script>
</head>

<body class="fixed-nav sticky-footer">

  {% block content %}{% endblock %}

  <!-- Jquery easing JavaScript-->
  <script src="js/jquery.easing.min.js"></script>
  <!-- Datatables  -->
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script>
  <!-- Custom JS -->
  <script src="js/haulage-management.min.js"></script>

</body>
</html>
